*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}

.container{
    max-width: 1105;
    margin: 0 auto;
} 

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}

.nav-li{
    display: inline-block;
}

.nav-li:not(:last-of-type){
    margin-right: 90px;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.nav-link:hover{
    color: #FA4A0C;
}

.app{
    background-image: url('../img/BG_1.png');
    color: white;
    text-align: center;
    padding: 80px 0 162px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.app-pretitle{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.app-title{
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    max-width: 650px;
    margin: 10px auto;
}

.app-text{
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 54px;
}

.button{
    Width: 236px;
    Height: 68px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;
}

.button:first-of-type{
    background: #FA4A0C;
    border: 1px solid #FA4A0C;
    margin-right: 67px;
}

.button:last-of-type{
    background: none;
    border: 1px solid white;

}

.pre-mobile{
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-weight: bold;
    font-size: 44px;
    line-height: 36px;
    color: #000000;
    margin-top: 56px;
}

.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.mobile-pretitle{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;
}

.mobile-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    max-width: 560px;
}

.mobile-text{
    font-size: 24px;
    line-height: 38px;
    color: #737373;
    max-width: 400px;
}

.order{
    background-image: url('../img/BG_2.png');
    color: white;
    text-align: center;
    padding: 146.9px 0 149.1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.order-pretitle{
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
}

.order-text{
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 59px;
}

.order-button{
    width: 236px;
    Height: 68px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
}

.order-button:first-of-type{
    background: #FA4A0C;
    border: 1px solid #FA4A0C;
    margin-right: 67px;
}

.order-button:last-of-type{
    line-height: 28px;
    background: none;
    border: 1px solid white;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}